<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>设备台账查询</title>
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<link type="text/css" rel="stylesheet" href="/css/index.css">
<link type="text/css" rel="stylesheet" href="/css/jq.css">
</head>

<body>
	<div id="f2">
		<form class="form1" action="/deviceinfo/twonotsecret" method="post">
			<table border="1" class="tab2 tab_width">
				<tr>
					<th colspan="14">
						<h2>设备台账查询模块(非涉密)</h2>
					</th>
				</tr>
				<tr class="ta1">
					<td>
						设备资产编号：<input name="deviceid" /><br /> 
						设备型号：<input name="devicemodel" />
					</td>
					<td>
						设备类型：<select name="devicetype">
								<option style="display: none;"></option>
								<option th:each="devicetype : ${devicetype}" 
								th:text="${devicetype.devicetypename}"></option>
							   </select><br/>
						应用系统：<input name="applicationname" />
					</td>
					<td>
						设备使用部门：<input name="currentusedepartment" /><br /> 
						设备制造厂家：<input name="manufacturersinfo" />
					</td>
					<td>
						设备序列号：<input name="serialnumber" /><br /> 
						硬盘序列号：<input name="hdisksn" />
					</td>
					<td width="110px">
						<input type="reset" class="btn" value="清空" />
						<input type="submit" class="btn" value="查询" />
					</td>
				</tr>
				<thead class="tab_thead">
					<tr>
					    <th style="display: none">id</th>
						<th>设备编号</th>
						<th>资产编号</th>
						<th>设备类型</th>
						<th>制造厂家</th>
						<th>设备型号</th>
						<th>所属应用系统</th>
						<th>使用部门</th>
						<th>使用地点</th>
						<th>使用人</th>
						<th>责任人</th>
						<th>IP地址</th>
						<th>派发日期</th>
						<th>保护等级</th>
						<th>是否国产</th>
						<th>序列号</th>
						<th>CPU</th>
						<th>内存</th>
						<th>硬盘</th>
						<th>硬盘序列号</th>
						<th>操作系统</th>
						<th>数据库</th>
						<th>主要应用软件</th>
						<th>备注</th>
						<th>操作</th>		
					</tr>
				</thead>
				<tbody class="tab_tbody">
					<tr th:each="deviceinfo_notsecret : ${deviceinfonotLikelist}"
						class="sql_deviceinfo_notsecret">
						<td style="display: none" th:text="${deviceinfo_notsecret.id}" ></td>
						<td th:text="${deviceinfo_notsecret.deviceid}"></td>
						<td th:text="${deviceinfo_notsecret.deviceassetid}"></td>
						<td th:text="${deviceinfo_notsecret.devicetype}"></td>
						<td th:text="${deviceinfo_notsecret.manufacturersinfo}"></td>
						<td th:text="${deviceinfo_notsecret.devicemodel}"></td>
						<td th:text="${deviceinfo_notsecret.applicationname}"></td>
						<td th:text="${deviceinfo_notsecret.currentusedepartment}"></td>
						<td th:text="${deviceinfo_notsecret.currentinstalllocation}"></td>
						<td th:text="${deviceinfo_notsecret.currentuseperson}"></td>
						<td th:text="${deviceinfo_notsecret.currentpersonincharge}"></td>
						<td th:text="${deviceinfo_notsecret.IPaddress}"></td>
						<td th:text="${deviceinfo_notsecret.distributiondate}"></td>
						<td th:text="${deviceinfo_notsecret.secretinfo}"></td>
						<td th:text="${deviceinfo_notsecret.madein}"></td>
						<td th:text="${deviceinfo_notsecret.serialnumber}"></td>
						<td th:text="${deviceinfo_notsecret.CPUinfo}"></td>
						<td th:text="${deviceinfo_notsecret.meminfo}"></td>
						<td th:text="${deviceinfo_notsecret.hdiskinfo}"></td>
						<td th:text="${deviceinfo_notsecret.hdisksn}"></td>
						<td th:text="${deviceinfo_notsecret.OSinfo}"></td>
						<td th:text="${deviceinfo_notsecret.DBinfo}"></td>
						<td th:text="${deviceinfo_notsecret.appinfo}"></td>
						<td th:text="${deviceinfo_notsecret.remarkinfo}"></td>
						
						<td><a href="javascript:;" class="theme-login"
							style="text-decoration: none;">修改</a></td>
						</tr>
				</tbody>
			</table>
		</form>
	</div>
	<script>
/* 隐藏id栏 */
/* $('thead').find('th:eq(0)').hide(); */

</script>

<!-- 弹窗 -->
	<div class="theme-popover">
		<div class="theme-poptit">
			<a href="javascript:;" title="关闭" class="close">×</a>
			<h3 style="color: blue;">设备台账修改(非涉密)</h3>
		</div>
		<div class="theme-popbod dform">
			<form class="theme-signin" name="loginform"
				action="/deviceinfo/updatenotsecret"
				method="post">
				<table border="" class="tab1">
				<tr class="ta1">
					<td>
					    <input style="display: none" id="id" name="id">
						设备编号：<input name="deviceid" id="deviceid"><br/>
						设备资产编号：<input name="deviceassetid" id="deviceassetid"><br/>
						设备类型：<select name="devicetype" id="devicetype" class="select2" >
								<option style="display: none;"></option>
								<option th:each="devicetype : ${devicetype}" 
								th:text="${devicetype.devicetypename}"></option>
							   </select><br/>
						制造厂家：<input name="manufacturersinfo" id="manufacturersinfo"><br/>
						设备型号：<input name="devicemodel" id="devicemodel"><br/>
						所属应用系统：<input name="applicationname" id="applicationname"><br/>
						使用部门：<input name="currentusedepartment" id="currentusedepartment"><br/>
						使用地点：<input name="currentinstalllocation" id="currentinstalllocation"><br/>
						使用人：<input name="currentuseperson" id="currentuseperson"><br/>
						责任人：<input name="currentpersonincharge" id="currentpersonincharge"><br/>
						IP地址：<input name="IPaddress" id="IPaddress"><br/>
						派发日期：<input type="date" class="time" name="distributiondate" id="distributiondate"><br/>
						
					</td>
					<td>
						保护等级：<input name="secretinfo" id="secretinfo"><br/>
						是否国产：<select name="madein" class="select2" id="madein">
								<option style="display: none"></option>
								<option>是</option>
								<option>否</option>
							   </select><br/>
						序列号：<input name="serialnumber" id="serialnumber"><br/>
						CPU：<input name="CPUinfo" id="CPUinfo"><br/>
						内存：<input name="meminfo" id="meminfo"><br/>
						硬盘：<input name="hdiskinfo" id="hdiskinfo"><br/>
						硬盘序列号：<input name="hdisksn" id="hdisksn"><br/>
						操作系统：<input name="OSinfo" id="OSinfo"><br/>
						数据库：<input name="DBinfo" id="DBinfo"><br/>
						主要应用软件：<input name="appinfo" id="appinfo"><br/>
						备注：<input name="remarkinfo" id="remarkinfo"><br/>
						
						<input type="reset" class="btn" value="清空">
						<input type="submit" class="btn" value="提交">
					</td>
				</tr>
			</table>
			</form>
		</div>
	</div>
	<div class="theme-popover-mask"></div>	
</body>

</html>