* {
	margin-top: 0;
}


body {
	margin-top: 10px;
}
.box_1 {
	margin-top: 5%;
	margin-bottom: auto;
	text-align: center;
}

table {
	/* height:570px; */
	border-collapse: collapse;
	margin: auto;
	/* ������ĸ���ֻ��� */
	word-wrap: break-word;
}

table td {
	padding: 10px;
}

.tab _tbody {
	display: block;
	height: 400px;
	overflow-y: scroll;
	padding-right: 2px;
}

.tab_thead, 
.tab tbody tr{
	display: table;
	width: 100%;
	table-layout: fixed;
}

/*
table表头宽度调节
 .tab_thead {
	width: calc(100%-10px)
} */

/* 选择框 */
.select  {
	border: 0px solid;
	height: 28px;
	width: 50%;
	margin-top: 10px;
	border-radius: 8px; 
}
/* 派发时间框 */
.time {
	height: 28px;
	width: 50%;
	margin-top: 10px;
	border-radius: 8px;
}

.tab .ta {	
	/* display: flex;
	flex: auto; */
	text-align: right;
}

.tab .ta td input {
	border: 0px solid;
	height: 26px;
	width: 50%;
	margin-top: 10px;
	border-radius: 8px;
}

.tab .ta td .btn {
	background-color: #DDDDDD;
	height: 25px;
	width: 80px;
}

/* 故障派单简要说明start */
.tab .ta .textbox {
	width: 50%;
	height: 75px;
	resize: none;
	float: right;
	border-radius: 4px;
}
	/* 故障派单简要说明end */

/* ʱ���Զ���ȡ����ʽ */

/* ��������ʽ���� */

/* table */
.sql_maintainrecord, 
.sql_maintainrecord2, 
.sql_deviceinfo,
.sql_devicetransfer {
	text-align: center;
}

/* 只读框 */
.read_only {
	background-color: #DDDDDD;
	border: 1px solid;
	border-color: #dddddd;
	outline: none;
}

h3, h2 {
	padding-top: 20px;
}

.a_style {
	background: #70B9DE;
	color: #fff;
}

.nav {
	height: 580px;
	width: 8%;
	border-bottom: 3px solid black;
	float: left;
	text-align: center;
	font-size: 12px;
	background-color: #C4E1FF;
}

.tab{
	overflow: hidden;
	border-radius: 15px;
	background-color: #BBFFFF;
	border: none;
}
