<component name="ArtifactManager">
  <artifact type="exploded-ear" name="SpringbootMaven:ear exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/SpringbootMaven_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringbootMaven/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>